/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/tmp
#/database/reservation.sql
/.vscode
/npm-debug.log.*
/public/mix-manifest.json
/public/js/admin-reservations.**.js
/public/js/admin-settings.**.js
/public/js/booking-form.**.js
/public/js/paypal-authorize.**.js
/public/js/reservation-confirm.**.js
/public/js/calendar.**.js
/public/js/syntax-highlight.**.js