<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^(\.env) [F,L,NC]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    RewriteCond %{REQUEST_URI} !(\.css|\.js|\.png|\.jpg|\.gif|robots\.txt|\.ttf|\.woff|\.woff2|\.mp3|\.svg)$ [NC]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_URI} !^/public/
    #RewriteRule ^css/fonts/flat-icon/(.*)$ public/css/fonts/flat-icon/$1 [L,NC]
    RewriteRule ^(css|js|images|build|vendors|fonts|sounds|photos)/(.*)$ public/$1/$2 [L,NC]
</IfModule>

<IfModule mod_expires.c>
ExpiresActive On
ExpiresDefault A0

# 1 WEEK - possible to be changed, unlikely
#<FilesMatch "public/js/(.*)\.js$">
<FilesMatch "js$">
ExpiresDefault A604800
</FilesMatch>
<FilesMatch "css$">
ExpiresDefault A604800
</FilesMatch>

#AddOutputFilter DEFLATE css js
#ExpiresActive On
#ExpiresByType application/x-javascript A2592000
</IfModule>
