.flexRow {
    display: flex;
    flex-direction: row;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flex1 {
    display: flex;
    flex: 1;
}

.flexWrap {
    flex-wrap: wrap;
}

.flexContentSpace {
    align-content: space-around;
    justify-content: space-between;
}

.flexStart {
    align-items: flex-start;
}